.footer {
    width: 100%;
    width: 102.4rem;
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.fLists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.fLists ul {
    list-style: none;
    padding: 0;
}

.fLists ul li {
    margin-bottom: 1rem;
    color: #003580;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
}

.fText {
    font-size: 1.6rem;
    font-weight: 600;
}