.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}

.listWrapper {
    width: 100%;
    max-width: 102.4rem;
    display: flex;
    gap: 2rem;

}

.listSearch  {
    flex: 1;
    background: #febb02;
    padding: 1rem;
    border-radius: 1rem;
    position: sticky;
    top: 1rem;
    height: max-content;
}


.lsTitle {
    font-size: 2rem;
    color: #555;
    margin-bottom: 1rem;
}

.lsItem {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
}

.lsItem label {
    font-size: 1.4rem;
}

.lsItem input {
    height: 3rem;
    border: none;
    padding: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    outline: none;
}

.lsItem input:focus {
    border: 2px solid #0072c2;
}

.lsItem>span {
    height: 3rem;
    padding: 0.5rem;
    background: #FFF;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
}

.dateRenge {
    position: absolute;
    top: 4.5rem;
    z-index: 1;
}

.closeDateRange {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 2;
}

.lsOptions {
    padding: 1rem;
}

.lsOptionItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: #555;
    font-size: 1.2rem;
    outline: #0072c2;
}

.lsOptionInput {
    width: 5rem;
    border-radius: .5rem;
}

.lsOptionInput:focus {
    border: 1px solid #0072c2;
}

.lsOptionItem>span {
    font-size: 1.4rem;
}

.listSearch>button {
    padding: 1rem;
    background: #0072c2;
    color: #FFF;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    transition: .5s ease-in-out;
    border-radius: .5rem;
}

.listSearch>button:hover {
    transform: scale(1.05);
}
    .listResult {
        flex: 3;
    }